# Brosland\Modals\UI ***********************************************************
brosland.modals.ui.modal:
	close: 'Close'

# Brosland\Modals\UI\Confirmation **********************************************
brosland.modals.ui.modal.confirmation.confirmationForm:
	cancel: 'Cancel'
	confirm: 'Confirm'

brosland.modals.ui.modal.confirmation.confirmationModal:
	question: 'Are you sure you want to execute this action?'
	title: 'Confirmation'