# Brosland\Modals\UI
Brosland\Modals\UI\Modal:
	close: 'Close'

# Brosland\Modals\UI\Confirmation
Brosland\Modals\UI\Confirmation\ConfirmationForm:
	cancel: 'Cancel'
	confirm: 'Confirm'

Brosland\Modals\UI\Confirmation\ConfirmationModal:
	question: 'Are you sure you want to execute this action?'
	title: 'Confirmation'