{extends $parentTemplate}

{block title}{ifset $title}{if is_string($title)}{_$title}{else}{$title}{/if}{/ifset}{/block}

{block body}
	{include #parent}
	<p>{ifset $content}{if is_string($content)}{_$content}{else}{$content}{/if}{/ifset}</p>
	<div class="text-right">
		<div class="clearfix">
			<a class="btn btn-default" data-dismiss="modal">{_frontend.confirmModal.cancel}</a>
			<a n:href="confirm!" class="btn btn-primary ajax">{_frontend.confirmModal.confirm}</a>
		</div>
	</div>
{/block}